{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}
{% block body %}

<section class="w-100 text-center" id="item1" style="min-height: 100vh; background-color:#24292e">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/1.png" data-speed="-5" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/2.png" data-speed="5" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/3.png" data-speed="2" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/4.png" data-speed="6" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/5.png" data-speed="8" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/6.png" data-speed="-2" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/7.png" data-speed="4" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/8.png" data-speed="-9" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/9.png" data-speed="6" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/10.png" data-speed="-7" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/11.png" data-speed="-5" class="layer layer-img">
    <img src="https://misc.mib-project.eu/parallax-mousemove/assets/12.png" data-speed="-5" class="layer layer-img">
    <div class="layer" data-speed="0" style="position:relative; text-align: center" style="color:white">
        <div style="margin-bottom: 20px;">
            <img style="width:15%;border-radius:100%; "
                src="{% static 'img/avatar-2.svg' %}"
                alt="">
        </div>
        <h2 style="font-weight:600;color:white; font-size:24px; margin-bottom:20px;text-transform:uppercase">{{user.get_full_name}}</h2>
        <div class="wrapper" style="margin-bottom:30px;">
            <!-- <div class="centeredBox">
                <span id="typewriter" data-array="" style="font-size:20px; font-weight:500; color: white"></span>
                <span class="cursor"></span>
            </div> -->

        </div>
        <div style="padding: 10px 40px">
        <form id="contact-form" class="contact-form mt-6" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="column col-md-12 itemInput">
                    <div class="form-group"><input type="text" class="form-control" 
                            id="id_first_name" name="first_name" value="{{user.first_name}}" maxlength="30">
                    </div>
                </div>
                <div class="column col-md-12 itemInput">
                    <div class="form-group"><input type="text" class="form-control" 
                            name="last_name" id="id_last_name" value="{{user.last_name}}">
                    </div>
                </div>
            </div>
            <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    </div>
    <!-- <div class="icon-scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div> -->
</section>
{% endblock body %}